@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

:root {
    --blue: #1490CA; 
    --lightBlue: #2caae4;
}


/* #### NAV-BAR #### */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

.nav-logo {
    width: 200px;
    height: 70px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

li, a {
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
    color: black;
}

li:hover {
    color: var(--blue);
}

.startjourney-btn {
    width: 148px;
    height: 41px;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    background-color: var(--blue);
    border: none;
}

.startjourney-btn:hover {
    background-color: var(--lightBlue) ;
}

.login-btn {
    width: 96px;
    height: 38px;
    font-size: 30px;
    background-color: transparent;
    border: none;
}

.login-btn:hover {
    color: var(--blue);
}

/* #### Home #### */

.home-sect {
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.home-imgParent {
    width: 1000px;
    height: 650px;
}

.home-img {
    width: 100%;
    height: 100%;
    border-radius: 0px 40px 40px 0px;
}

.home-intro {
    width: 385px;
    height: 455px;
    margin-right: 200px;
    text-align: center;
}

.slogan {
    font-size: 60px;
    margin-bottom: 41px;
}

.home-info {
    font-size: 21px;
    color: #808080;
    margin-bottom: 29px;
    text-align: center;
}

.infohome-highlight {
    color: var(--blue);
}

.startjourneyhome-btn {
    width: 203px;
    height: 55px;
    font-size: 20px;
    border-radius: 25px;
    background-color: var(--blue);
    color: white;
    border: none;
}

.startjourneyhome-btn:hover {
    background-color: var(--lightBlue);
}

